body
{
background-image: url("img/film-background.jpg");
background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;
}
.row
{
background-color: #D8D8D8;
}
.container
{
    max-width: 100%;
}